<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>PayMyBuddy App</title>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	  
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="/styles.css">
        
    </head>
    <body sec:authorize="isAuthenticated()">
        <header>
        	<span id="logo">PayMyBuddy</span>
        </header>
        
        <button type="submit" th:onclick="|window.location.href='/payment'|">Make a payment</button>
        <button type="submit" th:onclick="|window.location.href='/deposit'|">Deposit money</button>
	
		<!-- Form to add friend connection -->
        <form th:action="@{/deposit}" method="post" >
  			<div class="form-group">
    			<label for="Choose amount">Amount</label>
    			<input name="amount" type="number" class="form-control my-2 mx-2" placeholder="Amount">
  			</div>
  			<button type="submit" class="btn btn-primary">Add Connection</button>
		</form>
		
		
    </body>
</html>