<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>PayMyBuddy App</title>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	  
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="/styles.css">
        
    </head>
    <body sec:authorize="isAuthenticated()">
        <header>
        	<div id="logo">PayMyBuddy</div>
        	
        	<form id="logout" th:action="@{logout}" method="post">
        		<button class="btn btn-primary" name="logout" value="logout">Logout</button>
        	</form>
        	<button type="button" class="btn btn-primary" th:onclick="|window.location.href='/connection'|">Add connection</button>
        	<button type="button" class="btn btn-primary" th:onclick="|window.location.href='/depositOrWithdraw'|">Deposit/Withdraw money</button>
        	
        </header>
		
		<section>
			<!-- Form to make a payment -->
			<form id="payform" th:action="@{/executePayment}" th:object="${paymentForm}" method="post" >
				<select id="select" class="form-select" th:field="*{creditorEmail}" >
					<option value="0">Select friend</option>
	  				<option th:each="creditor : ${friends}"
	  						th:value=${creditor.email} 
	  						th:text="${creditor.firstname + ' ' + creditor.lastname}"></option>
				</select>
				<span id="error" th:if="${#fields.hasErrors('creditorEmail')}" th:errors="*{creditorEmail}">Name Error</span>
				
				<input id="descr" type="text" th:field="*{description}" placeholder="Enter a description">
				<span id="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</span>
				
				<input id="amountPay" type="number" th:field="*{amount}" placeholder="Choose ammount">
				<span id="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Name Error</span>
				
				<button id="paybtn" class="btn btn-primary" name="Execute" type="submit">Pay</button>
			</form>
		
			<div>Your balance : <span th:text="${account.balance}">Your balance</span> euros</div>
			
			<!-- Payment history -->	
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th class="text-left">From</th>
						<th class="text-left">To</th>
						<th class="text-left">Date</th>
						<th class="text-left">Description</th>
						<th class="text-left">Amount</th>
						<th class="text-left">Fee</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="payment : ${payments}">
						<td th:text="${payment.debitorName}"></td>
						<td th:text="${payment.creditorName}"></td>
						<td th:text="${payment.datetime}"></td>
						<td th:text="${payment.description}"></td>
						<td th:text="${payment.amount}"></td>
						<td th:text="${payment.companyFee}"></td>
					</tr>
				</tbody>
			</table>
		</section>
		
    </body>
</html>